.modal-header
  button.close(type='button', ng-click='$dismiss()') &times;
  h3.modal-title Паспорт животного
.modal-body
  .dlg-field-container.pb1
    .Grid-cell--autoSize.pr1 ID:
    .Grid-cell
      input.form-control.bold(type='text', ng-model="animal.ID")
  .dlg-row
    .dlg-col1
      .dlg-field-container
        .dlg-field-name Birthday:
        .dlg-field-value-overflow
          // Date picker
          p.input-group
            // input
            input.form-control.bold(type='text',
            uib-datepicker-popup='{{dateFormat}}', ng-model='animal.birthday',
            is-open='isBirthdayPickerOpened', datepicker-options='dateOptions', max-date='today',
            alt-input-formats="altInputFormats")
            // button
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='isBirthdayPickerOpened = true')
                i.glyphicon.glyphicon-calendar
    .dlg-col2
      .dlg-field-container
        .dlg-field-name Age (full years):
        .dlg-field-value.bold {{ getFullYearsFrom(animal.birthday) }}
  .dlg-row
    .dlg-col1
      .dlg-field-container
        .dlg-field-name Sex:
        .dlg-field-value-overflow
          ui-select(ng-model='animal.sex')
            ui-select-match
              span.bold(ng-bind='$select.selected')
            ui-select-choices(repeat='s in SEX_CHOICES')
              span(ng-bind='s')
    .dlg-col2
      .dlg-field-container
        .dlg-field-name Type:
        .dlg-field-value-overflow
          ui-select(ng-model='animal.poroda')
            ui-select-match
              span.bold(ng-bind='$select.selected')
            ui-select-choices(repeat='p in PORODY')
              span(ng-bind='p')
  .dlg-row
    .dlg-col1
      .dlg-field-container
        .dlg-field-name Mother:
        .dlg-field-value
          input.form-control.bold(type='text', ng-model='animal.motherID')
    .dlg-col2
      .dlg-field-container
        .dlg-field-name Father:
        .dlg-field-value
          input.form-control.bold(type='text', ng-model='animal.fatherID')
  hr
  .dlg-row
    .dlg-col1
      .dlg-field-container
        .dlg-field-name Reproduction:
        .dlg-field-value-overflow
          ui-select(ng-model='animal.reproduction')
            ui-select-match
              span.bold(ng-bind='$select.selected')
            ui-select-choices(repeat='r in REPRODUCTION_CHOICES')
              span(ng-bind='r')
    .dlg-col2
      .dlg-field-container
        .dlg-field-name Group:
        .dlg-field-value-overflow
          ui-select(ng-model='animal.group')
            ui-select-match
              span.bold(ng-bind='$select.selected')
            ui-select-choices(repeat='g in GROUPS')
              span(ng-bind='g')
  hr
  .dlg-row
    .dlg-col1
      .dlg-field-container
        .dlg-field-name Wool:
        .dlg-field-value-overflow
          ui-select(ng-model='animal.hair')
            ui-select-match
              span.bold(ng-bind='$select.selected')
            ui-select-choices(repeat='h in HAIRS')
              span(ng-bind='h')
    .dlg-col2
  .dlg-field-container
    .dlg-field-name-autosize.pr5 Notes:
    .dlg-field-value
      textarea#special-notes-textarea.bold(ng-model="animal.specialCharacteristics")
.modal-footer
  .Grid.Grid--justifyCenter
    .Grid-cell--autoSize
      button.btn.btn-primary(type='button', ng-click='onOk()') OK
      button.btn.btn-danger(type='button', ng-click='onCancel()') Cancel
