.modal-header
  button.close(type='button', ng-click='$dismiss()') &times;
  h3.modal-title Паспорт животного
.modal-body
  // Common info section
  .dlg-field-container.pb1
    .Grid-cell--autoSize.pr1 ID:
    .Grid-cell
      input.form-control(type='text', ng-model="animal.ID")
  .Grid.mb1
    // Common info left part
    .Grid-cell.pr3
      .dlg-field-container
        .dlg-field-name Birthday:
        .dlg-field-value
          // Date picker
          // text repr of date
          span.mr1 {{ animal.birthday | date:'yyyy-MM-dd' }}
          // button
          button#animal-dlg-birthday-datepicker-btn.btn.btn-default(type='button',
          ng-click='isBirthdayPickerOpened = true')
            i.glyphicon.glyphicon-calendar
          // hidden input
          input#animal-dlg-birthday-datepicker-input(type='text',
          uib-datepicker-popup='{{dateFormat}}', ng-model='animal.birthday',
          is-open='isBirthdayPickerOpened', datepicker-options='dateOptions', max-date='today',
          alt-input-formats="altInputFormats")
      .dlg-field-container
        .dlg-field-name Sex:
        .dlg-field-value {{ animal.sex }}
      .dlg-field-container
        .dlg-field-name Mother:
        .dlg-field-value неизвестна
    // Common info right part
    .Grid-cell
      .dlg-field-container
        .dlg-field-name Age:
        .dlg-field-value 4
      .dlg-field-container
        .dlg-field-name Type:
        .dlg-field-value молочная
      .dlg-field-container
        .dlg-field-name Father:
        .dlg-field-value оставил семью
.modal-footer
  .Grid.Grid--justifyCenter
    .Grid-cell--autoSize
      button.btn.btn-primary(type='button', ng-click='onOk()') OK
      button.btn.btn-danger(type='button', ng-click='onCancel()') Cancel
