.modal-header
  button.close(type='button', ng-click='$dismiss()') &times;
  h3.modal-title Паспорт животного
.modal-body
  .dlg-field-container.pb1
    .Grid-cell--autoSize.pr1 ID:
    .Grid-cell
      input.form-control(type='text', ng-model="animal.ID")
  .dlg-row
    .dlg-col1
      .dlg-field-container
        .dlg-field-name Birthday:
        .dlg-field-value-overflow
          // Date picker
          p.input-group
            // input
            input.form-control(type='text',
            uib-datepicker-popup='{{dateFormat}}', ng-model='animal.birthday',
            is-open='isBirthdayPickerOpened', datepicker-options='dateOptions', max-date='today',
            alt-input-formats="altInputFormats")
            // button
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='isBirthdayPickerOpened = true')
                i.glyphicon.glyphicon-calendar
    .dlg-col2
      .dlg-field-container
        .dlg-field-name Age (full years):
        .dlg-field-value {{ getFullYearsFrom(animal.birthday) }}
  .dlg-row
    .dlg-col1
      .dlg-field-container
        .dlg-field-name Sex:
        .dlg-field-value-overflow
          ui-select(ng-model='animal.sex')
            ui-select-match
              span(ng-bind='$select.selected')
            ui-select-choices(repeat='s in SEX_CHOICES')
              span(ng-bind='s')
    .dlg-col2
      .dlg-field-container
        .dlg-field-name Type:
        .dlg-field-value-overflow
          ui-select(ng-model='animal.poroda')
            ui-select-match
              span(ng-bind='$select.selected')
            ui-select-choices(repeat='p in PORODY')
              span(ng-bind='p')
  .dlg-row
    .dlg-col1
      .dlg-field-container
        .dlg-field-name Mother:
        .dlg-field-value
          input.form-control(type='text', ng-model='animal.motherID')
    .dlg-col2
      .dlg-field-container
        .dlg-field-name Father:
        .dlg-field-value
          input.form-control(type='text', ng-model='animal.fatherID')
  hr
  .dlg-field-container.Grid--center
    .dlg-field-name-autosize.pr1 Reproduction:
    .dlg-field-value-overflow
      ui-select#reproduction-select(ng-model='animal.reproduction')
        ui-select-match
          span(ng-bind='$select.selected')
        ui-select-choices(repeat='r in REPRODUCTION_CHOICES')
          span(ng-bind='r')
  hr
.modal-footer
  .Grid.Grid--justifyCenter
    .Grid-cell--autoSize
      button.btn.btn-primary(type='button', ng-click='onOk()') OK
      button.btn.btn-danger(type='button', ng-click='onCancel()') Cancel
