#page-wrapper.w100.vh100
  #my-navbar(ng-include='"components/navbar/navbar.html"')

  header#banner.hero-unit
    h1 Автоматизация животноводства
    p.lead Новые технологии для повышения эффективности!
    img.banner-img(src='assets/images/pig.png', alt='I\'m Yeoman')

  #page-content.p1
    .myGrid(ui-grid="{ data: myData }")

  footer#footer.text-center Copyright &copy; 2015-2016 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/" target="_blank") ИТЦ "Система-Саров"
    span ,&nbsp;&nbsp;
    a(href="https://www.me-so.ru/" target="_blank") ДЦ "Микрон"
