#page-wrapper.w100.vh100
  //#my-navbar-wrapper(ng-include='"components/navbar/navbar.html"')

  //header#banner.hero-unit
  //  h1 Автоматизация животноводства
  //  p.lead Новые технологии для повышения эффективности!
  //  img.banner-img(src='assets/images/pig.png', alt='I\'m Yeoman')

  #page-content.ptb1.plr3
    #animal-table-top-bar.pb1
      // Title
      #animal-page-title.mr5.text-xlarge.bold Животные
      #export-btn-wrapper
        button.btn.btn-success(ng-click='exportXLSX()') Export as XLSX
      // Search Input
      #animal-search-sect
        p.input-group
          // input
          input.form-control(type='text', ng-model='filterStr', placeholder='Поиск...')
          // button
          span.input-group-btn
            button.btn.btn-default(type='button', ng-click='onSearchBtnClick()')
              i.glyphicon.glyphicon-search
    #animal-table.w100(ui-grid="gridOptions", ui-grid-auto-resize, ui-grid-selection,
    ui-grid-resize-columns, ui-grid-move-columns, ui-grid-save-state, ui-grid-pagination,
    ui-grid-edit, ui-grid-exporter)
      // isLoading indicator
      .grid-msg-overlay(ng-hide='!isLoading')
        .msg
          span Loading data...&nbsp;
            i.fa.fa-spinner.fa-spin
      // NoData msg
      .grid-msg-overlay(ng-hide='isLoading || gridOptions.data.length')
        .msg
          span No Data
    #animal-table-bottom-bar.ptb1
      // Add button
      button.btn.btn-success.mr1(ng-click="onAddBtnClick()") Добавить...
      // Edit button
      button.btn.btn-defaul.mr1(ng-click="onEditBtnClick(selectedCow)", ng-disabled="!selectedCow") Изменить...
      // Del button
      button.btn.btn-danger.mr3(ng-click="onDelBtnClick(selectedCow)", ng-disabled="!selectedCow") Удалить...

  //footer#footer.text-center Copyright &copy; 2015-2016 &mdash;&nbsp;
  //  a(href="http://sarov-itc.ru/" target="_blank") ИТЦ "Система-Саров"
  //  span ,&nbsp;&nbsp;
  //  a(href="https://www.me-so.ru/" target="_blank") ДЦ "Микрон"
