#page-wrapper {
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;

//  background: lightgoldenrodyellow;
}

#my-navbar, #banner, #footer {
  flex: 0 0 auto;
}

///////////////////////////////////
// Banner

#banner {
  border-bottom: none;
  margin-top: -20px;
}

.banner-img {
  width: 10rem;
  height: 10rem;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

// Banner
///////////////////////////////////

#page-content {
  flex: 1 1 400px;
}

.myGrid {
  width: 600px;
  height: 400px;
  margin: 0 auto;
}
