div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    p.lead Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .myGrid(ui-grid="{ data: myData }")

footer#footer.text-center Copyright &copy; 2015-2016 &mdash;&nbsp;
  a(href="http://sarov-itc.ru/" target="_blank") ИТЦ "Система-Саров"
  span ,&nbsp;&nbsp;
  a(href="https://www.me-so.ru/" target="_blank") ДЦ "Микрон"
